@import './../../assets/styles/vars.scss'; 

.spotifood-input {

    background-color: white;
    border: none;
    border-radius: 10px;
    height: 30px;
    padding: 0 10px;
    margin-bottom: 10px;

    @media only screen and (min-width: $breakpoint) {
        border-radius: 12.5px;
        display: block;
        margin-bottom: 0;
        height: 25px;
    }

    &-integer {
        max-width: 100%;

        @media only screen and (min-width: $breakpoint) {
            max-width: 50px;
        }
    }

}