@import './../../vars.scss'; 

.playlists {
  animation-duration: 2s;
  animation-name: playlist-slidein;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 20px 0 30px 0;

  @keyframes playlist-slidein {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  

  &-item {
    align-items: center;
    border-bottom: 1px solid #333333;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;

    @media only screen and (min-width: $breakpoint) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &-link {
    align-items: center;
    color: white;
    display: flex;
    margin-bottom: 10px;
    margin-right: 5px;
    text-decoration: none;
    transition: transform .2s cubic-bezier(0.55, 0, 0.55, 0.2) , .2s cubic-bezier(0.55, 0, 0.55, 0.2);

    &:hover {
      transform: scale(1.05);
    }

   
    @media only screen and (min-width: $breakpoint) {
      margin-bottom: 0;
    }

  }

  &-total {
    width: 100%;
    margin: 10px 0;

    @media only screen and (min-width: $breakpoint) {
      width: 20%;
      margin: 0;
    }
  }

  &-spotify {
    width: 100%;

    @media only screen and (min-width: $breakpoint) {
      width: 40%;
    }

  }
  
  &-ifood {
    width: 100%;
    justify-content: flex-start;

    @media only screen and (min-width: $breakpoint) {
      width: 40%;
      justify-content: flex-end;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
  }

  &-no-results {
    color: white;
    margin: 40px 0;
    text-align: center;
    width: 100%;
  }

  &-icon {
    margin-right: 20px;
    max-width: 80px;
    border-radius: 10px;
  }

  &-food {
    color: $spotify-color;
    font-size: 18px;
    font-weight: bold;
  }
}

